$yellow-bg-color: #F9F4D2;
$yellow-input-bg: #F9F4D2;
$green-bg-color: #B8E0B1;
$gray-modal-border: #4A4A4A;
$biege-modal-bg: #e4d9b7;
$green-button-bg: #4CAF50;
$green-button-bg-hover: #45a049;
$white: #fff;
$gray-input-border: #C2C2C2;
$gray-text: #949494;
$red-color: #ff0000;
$color-green-aside-bg: rgba(133, 163, 127, 0.3);
$color-green-aside-bg-hover: rgba(133, 163, 127, 0.5);
$color-green-item-playing: rgba(110, 138, 104, 0.3);
$color-green-success: #A5D6A7;
$color-red-error: #EF9A9A;
$volume-control-bg: linear-gradient(135deg, #d1d1d1, #8a8a8a);
$red-control-marker: #ff3333;
$circle-colors: (
    yellow: (
        #E0DBBD, 
        #D2CEB1, 
        #EBE7C9, 
        #E7E1BA
    ),
    green: (
        #A1CC99, 
        #A1C39A, 
        #AED4A6, 
        #ACCCA5
    )
);