$yellow-bg-color: #F9F4D2;
$green-bg-color: #B8E0B1;
$circle-colors: (
    yellow: (
        #E0DBBD, 
        #D2CEB1, 
        #EBE7C9, 
        #E7E1BA
    ),
    green: (
        #A1CC99, 
        #A1C39A, 
        #AED4A6, 
        #ACCCA5
    )
);
.circle-container {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    z-index: -1;
    &--yellow {
        background-color: $yellow-bg-color;
    }
    &--green {
        background-color: $green-bg-color;
    }
}
.circle {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    animation: grow 10s infinite;

    @for $i from 0 through 3 {
        &--#{$i} {
            &.circle--green {
                background-color: nth(map-get($circle-colors, green), $i + 1);
            }
            &.circle--yellow {
                background-color: nth(map-get($circle-colors, yellow), $i + 1);
            }
        }
    }

    &--0 {
        width: 34.3175dvw;
        height: 34.3175dvw;
    }
    &--1 {
        width: 51.968dvw;
        height: 51.968dvw;
    }
    &--2 {
        width: 20.8915dvw;
        height: 20.8915dvw;
    }
    &--3 {
        width: 26.968dvw;
        height: 26.968dvw;
    }
}
@keyframes grow {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.1);
    }
}   