.queue {
   width: 59.375dvw;
   height: 270px;
   max-width: 325px;
   position: relative;
   text-align: center;

   &__title {
      font-size: 1.5rem;
      margin: -7px 0 7px 0;
   }
   &__curr-playing {
      &__item {
         text-align: center;
      }
      &__audio {
         width: 59.375dvw;
         height: 105px;
         max-width: 380px;
         padding: 10px 18px 10px 31px;
      }
      &__controller {
         display: flex;
         justify-content: space-between;
         width: 50dvw;
         max-width: 545px;
         position: absolute;
         top: 50%;
         left: -115px;
         transform: translateY(-50%);
      }
      &__button {
         background: url('../../images/arrow-left.png') no-repeat center center;
         background-size: cover;
         border: 0;
         width: 100dvw;
         max-width: 74px;
         height: 52px;

         &--next {
            transform: rotateY(180deg);
         }
         &:hover {
            cursor: pointer;
         }
      }
      &__name {
         max-width: 325px;
         white-space: nowrap;
         text-overflow: ellipsis;
         display: inline-block;
         overflow: hidden;
      }
   }
   &-index {
     font-size: 2.5rem;
     position: absolute;
     top: 10px;
     left: -45px;
     z-index: 1;
   }
   &::after {
     content: '';
     background-color: #FCF6D2;
     width: 40px;
     height: 40px;
     position: absolute;
     top: 15px;
     left: -50px;
   }
}

@media (max-width: 1358px) {
   .queue__curr-playing__controller {
      width: 463px;
      left: -69px;
   }
   .queue__title {
      margin-top: 7px;
      margin-bottom: 3px;
   }
}
