$red-color: #ff0000;
$yellow-input-bg: #F9F4D2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Tilda Sans';
    overflow: hidden;
}
.radio-player {
    position: absolute;
}
.main--error {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &__title {
        font-size: 2.5rem;
        color: $red-color;
    }
    &__link {
        font-size: 1.5rem;
        color: $red-color;
    }
}
.queue {
   background-color: $yellow-input-bg;
   border: 1px solid $yellow-input-bg;
   border-radius: 50px;
   width: 59.375dvw;
   height: 105px;
   max-width: 380px;
   padding: 5px 25px 10px 25px;
   position: relative;

   &__curr-playing {
      &__audio {
         width: 59.375dvw;
         height: 105px;
         max-width: 380px;
         padding: 10px 18px 10px 31px;
      }
      &__controller {
         display: flex;
         justify-content: space-between;
         width: 50dvw;
         max-width: 545px;
         position: absolute;
         top: 50%;
         left: -84px;
         transform: translateY(-50%);
      }
      &__button {
         background: url('./images/arrow-left.png') no-repeat center center;
         background-size: cover;
         border: 0;
         width: 100dvw;
         max-width: 74px;
         height: 52px;
 
         &--next {
            transform: rotateY(180deg);
         }
         &:hover {
            cursor: pointer;
         }
      }
   }
}
.audio {
   &-controls {
      width: 100%;
      max-width: 600px;
      background-color: inherit;
      border-radius: 4px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__button {
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background-color: #4CAF50;
         border: none;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: all 0.3s ease;
         cursor: pointer;
         position: relative;

         &--play {
            &::before {
               content: "";
               display: block;
               width: 0;
               height: 0;
               border-top: 12px solid transparent;
               border-bottom: 12px solid transparent;
               border-left: 20px solid white;
            }
         }
         &--pause {
            display: flex;
            gap: 6px;

            &::before, &::after {
               content: "";
               width: 6px;
               height: 20px;
               background-color: white;
            }
         }
         &:hover {
            background-color: #45a049;
         }
      }
      &__volume-input {
         position: relative;

         &::before {
            content: '';
            background: url('./images/sound-on.png') no-repeat left center;
            background-size: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            left: -20px;
         }

         &.muted::before {
            content: '';
            background: url('./images/sound-mute.png') no-repeat left center;
            background-size: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            left: -20px;
         }
      }
   }
}
