$red-color: #ff0000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Tilda Sans';
    overflow: hidden;
}
.main--error {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &__title {
        font-size: 2.5rem;
        color: $red-color;
    }
    &__link {
        font-size: 1.5rem;
        color: $red-color;
    }
}